body {
    background-color: #424242;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

.span {
    font-size: 50px;
}

ul {
    list-style: none;
}

section {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

button {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #424242;
    font-size: 10px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #424242;
    color: #ffffff;
}

#box {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    border: 1px solid white;
}

.box {
    width: 300px;
    height: 300px;
}

.red {
    background-color: red;
}